.slate-leaf-bold {
  font-weight: bold;
}

.slate-leaf-italic {
  font-style: italic;
}

.slate-leaf-underline {
  text-decoration: underline;
}

.slate-leaf-strikethrough {
  text-decoration: line-through;
}
