.link-leaf-popover {
  display: flex;
  align-items: center;
  .link-leaf-popover-icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .link-leaf-popover-link {
    margin-left: 8px;
    max-width: 200px;
    @include one-line-ellipsis;
  }
  .link-leaf-popover-list {
    margin-left: 12px;
    display: flex;
    align-items: center;
    .link-leaf-popover-item {
      margin-left: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      padding: 2px;
      cursor: pointer;
      &-target {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:hover {
        background-color: #edf2fa;
      }
    }
  }
}

.link-element {
  color: #0069c2;
}
