.code-block {
  background-color: #f7f6f3;
  padding: 8px 12px;
  margin: 8px 0;
  .code-block-toolbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .code-block-language-dropdown {
      display: flex;
      align-items: center;
      cursor: pointer;
      font-size: 14px;
      color: rgb(55, 53, 47);
      &-text {
      }

      &-icon {
        margin-left: 4px;
      }
    }

    .code-block-toolbar-copy {
      display: flex;
      align-items: center;
      margin-left: 16px;
      font-size: 14px;
      cursor: pointer;
      .code-block-toolbar-copy-icon {
      }
      .code-block-toolbar-copy-text {
      }
    }
  }
  .code-block-content {
    margin-top: 8px;
  }
}
