.editor-toolbar-item-background {
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;

  .editor-toolbar-item-icon {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    &-active {
      background-color: #d3e3fd;
      &:hover {
        background-color: #d3e3fd !important;
      }
    }
    &:hover {
      background-color: #edf2fa;
    }
  }

  .editor-toolbar-item-more {
    padding: 0 2px;
    &:hover {
      background-color: #d3e3fd !important;
    }
  }

  .color-popover-selector-mask {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
  }
}
